# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.pem
*.key
terra-ec2-key

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

# OS files
.DS_Store
Thumbs.db